<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.siddhantjain.muskular" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <!--permissions-->
        <uses-permission android:name="android.permission.INTERNET" />
        <service android:name=".RssService" />

        <!--activities-->
        <activity
            android:name=".WelcomeScreen"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UserLogin"
            android:label="@string/title_activity_user_login"
            android:noHistory="true"
            android:parentActivityName=".WelcomeScreen"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".WelcomeScreen" />
        </activity>
        <activity
            android:name=".UserSignUp"
            android:label="@string/title_activity_user_sign_up"
            android:noHistory="true"
            android:parentActivityName=".WelcomeScreen"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".WelcomeScreen" />
        </activity>
        <activity
            android:name=".AppIntroduction"
            android:label="@string/title_activity_app_intro"
            android:parentActivityName=".UserSignUp" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UserSignUp" />
        </activity>
        <activity
            android:name=".PlanGrid"
            android:label="@string/title_activity_plan_suggestor"
            android:parentActivityName=".UserProfiler"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UserProfiler" />
        </activity>
        <activity
            android:name=".Dashboard"
            android:label="@string/title_activity_dashboard"
            android:parentActivityName=".UserLogin"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UserLogin" />
        </activity>
        <activity
            android:name=".UserProfiler"
            android:label="@string/title_activity_profile_getter"
            android:parentActivityName=".UserSignUp"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UserSignUp" />
        </activity>
        <activity
            android:name=".WorkoutPlanViewer"
            android:label="@string/title_activity_workout__plan"
            android:parentActivityName=".Dashboard" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.siddhantjain.muskular.Dashboard" />
        </activity>
        <activity
            android:name=".NutritionPlanViewer"
            android:label="@string/title_activity_nutriotion_plan"
            android:parentActivityName=".Dashboard" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.siddhantjain.muskular.Dashboard" />
        </activity>
        <activity
            android:name=".DietPlanViewer"
            android:label="@string/title_activity_diet_plan"
            android:parentActivityName=".Dashboard" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.siddhantjain.muskular.Dashboard" />
        </activity>
    </application>

</manifest>
