<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.siddhantjain.muskular" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <!--permissions-->
        <uses-permission android:name="android.permission.INTERNET" />
        <service android:name=".RssService" />

        <!--activities-->
        <activity
            android:name=".welcome_screen"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".user_login"
            android:label="@string/title_activity_user_login"
            android:parentActivityName=".welcome_screen"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.siddhantjain.muskular.welcome_screen" />
        </activity>
        <activity
            android:name=".user_sign_up"
            android:label="@string/title_activity_user_sign_up"
            android:parentActivityName=".welcome_screen"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.siddhantjain.muskular.welcome_screen" />
        </activity>
        <activity
            android:name=".app_intro"
            android:label="@string/title_activity_app_intro"
            android:parentActivityName=".user_sign_up" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.siddhantjain.muskular.user_sign_up" />
        </activity>
        <activity
            android:name=".app_intro_temp"
            android:label="@string/title_activity_app_intro_temp"
            android:parentActivityName=".user_sign_up"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.siddhantjain.muskular.user_sign_up" />
        </activity>
        <activity
            android:name=".user_profile"
            android:label="@string/title_activity_user_profile"
            android:parentActivityName=".app_intro_temp"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.siddhantjain.muskular.app_intro_temp" />
        </activity>
        <activity
            android:name=".plan_suggestor"
            android:label="@string/title_activity_plan_suggestor"
            android:parentActivityName=".user_profile"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.siddhantjain.muskular.user_profile" />
        </activity>
        <activity
            android:name=".Dashboard"
            android:label="@string/title_activity_dashboard"
            android:parentActivityName=".user_login"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.siddhantjain.muskular.user_login" />
        </activity>
        <activity
            android:name=".profile_getter"
            android:label="@string/title_activity_profile_getter"
            android:parentActivityName=".user_sign_up"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.siddhantjain.muskular.user_sign_up" />
        </activity>
        <activity
            android:name=".Workout_Plan"
            android:label="@string/title_activity_workout__plan"
            android:parentActivityName=".Dashboard" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.siddhantjain.muskular.Dashboard" />
        </activity>
        <activity
            android:name=".nutriotion_plan"
            android:label="@string/title_activity_nutriotion_plan"
            android:parentActivityName=".Dashboard" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.siddhantjain.muskular.Dashboard" />
        </activity>
        <activity
            android:name=".diet_plan"
            android:label="@string/title_activity_diet_plan"
            android:parentActivityName=".Dashboard" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.siddhantjain.muskular.Dashboard" />
        </activity>
    </application>

</manifest>
